# Binari compilati
*.exe
*.o
*.out
flowc

# File di debug Windows
*.ilk
*.pdb

# Output build
dist/
build/
out/

# Node / Bun
node_modules/
bun.lock

# Flow cache locale
.flow-runtime/

# Cartelle locali di test
examples/out/
